.User_section{
    border: 1px solid white;
    padding: 10px;
    margin: 15px;
}
.User_section h2{
    font-size: 30px;
}
.User_section p{
    font-size: 20px;
}
.User_section .logOut{
    width: 100%;
    margin: 5px 8px 0 0;
    padding: 5px;
    font-size: 20px;
    text-align: right;
    color: rgb(198, 198, 216);
    cursor: pointer;
    background-color: rgb(55, 55, 190);
    cursor: pointer;
    border: none;
    text-align: center;
}